.container {
  background-color: #ffffff;
  box-shadow: 0px 0px 10px 0px rgba(26, 43, 35, 0.2);
  height: 300px;
  width: 440px;
  margin-left: 50px;
  margin-top: 120px;
}

.section {
  display: flex;
  justify-content: center;
  margin: 20px;
  /* align-items: baseline; */
}

.sectionBottom {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 990px;
}
