.list {
  padding-inline-start: 0px;
  margin-block-start: 0em;
}

.item {
  background-color: #e2dc80;
  box-shadow: 0px 0px 10px 0px rgba(180, 116, 43, 0.2);
  display: flex;
  align-items: center;
  list-style: none;
  margin-top: 20px;
  padding: 0;
  width: 300px;
  height: 100px;
}

.avatar {
  background-color: #b153a9;
  border-radius: 5px;
  width: 70px;
  height: 70px;
  padding: 10px;
}

.online {
  background-color: #12af19;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 15px;
}

.offline {
  background-color: #db3300;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  margin: 15px;
}

.name {
  font-size: 24px;
  color: #075fa1;
  font-weight: 500;
  margin-left: 20px;
}
